{% extends "layout.html"%}
{% block body%}
    
    <div class="Container">
        <h1>Enter your thoughts!</h1>
        <form action ="" method="POST">
            <div class ="form-group">
                <textarea rows="4" cols="50" type ="text" name="posttext" placeholder="type something!" required></textarea>
            </div>
            <button class="btn btn-primary" type="submit">submit</button>
            <p type='text' name="finishtxt">{{finishtxt}}</p>
        </form>
    </div>
{% endblock %}