{% extends "layout.html"%}
{% block body%}
<div class="Container">
    <h1>Register</h1>
    <form action ="" method="POST">
        <div class ="form-group">
            <input type ="text" name="name" class="form-control" placeholder="name" required>
        </div>
        <div class ="form-group">
            <input type ="text" name="username" class="form-control" placeholder="username" required>
        </div>
        <div class ="form-group">
            <input type ="password" name="password" class="form-control" placeholder="password" required>
        </div>
        <div class ="form-group">
            <input type ="password" name="confirm" class="form-control" placeholder="confirm password" required>
        </div>
        <button class="btn btn-primary" type="submit">submit</button>
    </form>
</div>
{% endblock %}